# $Customer\ Analytics$

#### Case Study II
## <i>Customer Lifetime Value</i>
---

**Team 8:** `Joseph Miguel, Jeremy Grace, Jonathan Hilgart, & Victor Vulovic`

<br>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

<br>

## Load and prep <i>`purchase`</i> data

In [2]:
col_names = ['customer_id', 'purchase_amount', 'date_of_product']
pdata = pd.read_csv('purchases.txt', delimiter="\t", header=None, names=col_names)

In [3]:
pdata.head()

   customer_id  purchase_amount date_of_product
0          760             25.0      2009-11-06
1          860             50.0      2012-09-28
2         1200            100.0      2005-10-25
3         1420             50.0      2009-07-09
4         1940             70.0      2013-01-25

* Create separate columns for **`month`** and **`year`**:

In [4]:
pdata['month'] = pd.DatetimeIndex(pdata['date_of_product']).month
pdata['year'] = pd.DatetimeIndex(pdata['date_of_product']).year

In [5]:
pdata.head()

   customer_id  purchase_amount date_of_product  month  year
0          760             25.0      2009-11-06     11  2009
1          860             50.0      2012-09-28      9  2012
2         1200            100.0      2005-10-25     10  2005
3         1420             50.0      2009-07-09      7  2009
4         1940             70.0      2013-01-25      1  2013