In [ ]:
#

In [1]:
import numpy as np
import pandas as pd

In [7]:
pdata = pd.read_csv('purchases.txt', sep="\t", header=None, names=['customer_id', 'purchase_amount', 'date_of_product'])

In [8]:
pdata.head()

   customer_id  purchase_amount date_of_product
0          760             25.0      2009-11-06
1          860             50.0      2012-09-28
2         1200            100.0      2005-10-25
3         1420             50.0      2009-07-09
4         1940             70.0      2013-01-25